// global styles for <a> and <p> tags
$govuk-global-styles: true;
$govuk-new-link-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import ".tmp/sass/extensions";

// Patterns that aren't in Frontend
@import "patterns/contents-list";
@import "patterns/mainstream-guide";
@import "patterns/pagination";
@import "patterns/related-items";
@import "patterns/task-list";

// TNA Frontend Design Toolkit styles
@import "variables";
@import "color";
@import "header";

// custom SCSS

@import "patterns/side-navigation";


// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

.govuk-width-container {
   max-width: 70em;
}

.govuk-header {
  background: #26262a;
}

.govuk-header__container {
  border-bottom-color: #555;
}

.govuk-pagination__item--current {
  background-color: #555;
}


.na-search__form {
  align-items: flex-end;
    display: flex;
    max-width: 55%;
}



.na-search__group {
  display: inline-block;
    flex: 1;
    margin-bottom: 0;
    vertical-align: top;
}

.na-search__button {
  display: inline-block;
    margin-bottom: 0;
    margin-left: 10px;
    position: relative;
    top: -2px;
    vertical-align: bottom;
    width: auto;

}

.govuk-list.na-subnav__edit {
  display:block;
  text-align:right;
}

.na-subnav__edit li {
 display:inline-block;
 margin-right:25px;
 text-align:right;
}


// table column widths

.table-col-s {
width: 15%
}

.table-col-m {
  width: 20%
  }

  .table-col-l {
    width: 40%
    }
// Details in tables


.govuk-details-table {
margin-top:14px;
}