// global styles for <a> and <p> tags
$govuk-global-styles: true;
$govuk-new-link-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import ".tmp/sass/extensions";

// Patterns that aren't in Frontend
@import "patterns/contents-list";
@import "patterns/mainstream-guide";
@import "patterns/pagination";
@import "patterns/related-items";
@import "patterns/task-list";


// TNA Frontend Design Toolkit styles
@import "variables";
@import "color";
@import "header";

// custom SCSS

@import "patterns/side-navigation";


// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

.govuk-width-container {
   max-width: 70em;
}

.govuk-header {
  background: #26262a;
}

.govuk-header__container {
  border-bottom-color: #555;
}

.govuk-pagination__item--current {
  background-color: #555;
}


.na-search__form {
  align-items: flex-end;
    display: flex;
    max-width: 55%;
}



.na-search__group {
  display: inline-block;
    flex: 1;
    margin-bottom: 0;
    vertical-align: top;
}

.na-search__button {
  display: inline-block;
    margin-bottom: 0;
    margin-left: 10px;
    position: relative;
    top: -2px;
    vertical-align: bottom;
    width: auto;

}

.govuk-list.na-subnav__edit {
  display:block;
  text-align:right;
}

.na-subnav__edit li {
 display:inline-block;
 margin-right:25px;
 text-align:right;
}


// table column widths

.table-col-s {
width: 15%
}

.table-col-m {
  width: 20%
  }

  .table-col-l {
    width: 40%
    }
// Details in tables


.govuk-details-table {
margin-top:14px;
}


// Side navigation

.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 100px; /* Stay at the top */
  right: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  margin-right:15px;
}



.main-with-nav {
  margin-right: 200px;
}


// Sortable tables


table.govuk-table.sortable th {
  position: relative;
}

table.govuk-table.sortable th.no-sort {
  padding-top: 0.35em;
}

table.govuk-table.sortable th:nth-child(5) {
  width: 10em;
}

table.govuk-table.sortable th button {
  position: absolute;
  padding: 4px;
  margin: 1px;
  font-size: 100%;
  font-weight: bold;
  background: transparent;
  border: none;
  display: inline;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  text-align: left;
  outline: none;
  cursor: pointer;
}

table.govuk-table.sortable th button span {
  position: absolute;
  right: 25px;
  top:15px
}

table.govuk-table.sortable th[aria-sort="descending"] span::after {
  content: "▼";
  font-size: 100%;
  top: -10px;
}

table.govuk-table.sortable th[aria-sort="ascending"] span::after {
  content: "▲";
  font-size: 100%;
  top: -10px;
}

table.govuk-table.show-unsorted-icon th:not([aria-sort]) button span::after {
  content: "♢";
  font-size: 100%;
  position: relative;
  top: -3px;
  left: -4px;
}


/* Focus and hover styling */

table.govuk-table.sortable th button:focus,
table.govuk-table.sortable th button:hover {
  padding: 2px;
}


table.govuk-table.sortable th:not([aria-sort]) button:focus span::after,
table.govuk-table.sortable th:not([aria-sort]) button:hover span::after {
  content: "▼";
  font-size: 100%;
  top: 0;
}


.na-notification-bar {
	background-color:#00703c;
  padding:5px;
  border:1px solid black;
  position:relative;
}

.na-notification-text {
	color:#FFFFFF;
  text-align:center;
  margin-top:10px;
  font-weight: bold;
}

.btn.btn-close {
	color:#FFFFFF;
	font-weight:bold;
  position:absolute;
  top: 15px;
  right:15px;

}