{% extends "../layout_unbranded.html" %}

{% block pageTitle %}
  Browse Edit Set – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<!--
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
  </div>
  -->
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

<form class="form" action="abandonWorkSetAction" method="post">

      <h1 class="govuk-heading-l">
        Abandon Work Set
      </h1>

      {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Work Set Name"
      },
      value: {
        text: "COAL 80 Sample"
      }
  
    },
    {
      key: {
        text: "Size of Work Set"
      },
      value: {
        text: "3"
      }
    },
    {
      key: {
        text: "Work Set Created"
      },
      value: {
        html: "	22 Oct 2022"
      }
 
    },
    {
      key: {
        text: "Work Set Updated"
      },
      value: {
        html: '10 Nov 2022 13:04'
      }
    
    }
  ]
}) }}
   
     

  {% from "govuk/components/radios/macro.njk" import govukRadios %}
{{ govukRadios({
  classes: "govuk-radios--inline",
  name: "abandonWorkSet",
  fieldset: {
    legend: {
      text: "Are you sure you want to abandon the selected Work Set?",
      classes: "govuk-fieldset__legend--s"
    }
  },

  items: [
    {
      value: "Yes",
      text: "Yes"
    },
    {
      value: "No",
      text: "No"
    }
  ]
}) }}


    
<div class="govuk-button-group">
  <button class="govuk-button" data-module="govuk-button" name="action" value="save">
    Abandon Work Set
  </button>
</div>

  
  </div>
</form>
</div>
</div>

{% endblock %}
