{% extends "../layout_unbranded.html" %}

{% block pageTitle %}
  Browse Edit Set – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}
{{ govukBreadcrumbs({
  collapseOnMobile: true,
  items: [
    {
      text: "Dashboard",
      href: "dashboard"
    },
    {
      text: "Search: Add records to new work set",
      href: "search-results-create-work-set"
     
    },
    {
      text: "Create a new Work Set"
     
     
    }
  ]
}) }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



<form class="form" action="view-work-set-added-message" method="post">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
       Create a new Work Set
      </h1>
    </legend>
    <div class="govuk-form-group">
      <label class="govuk-label govuk-label--s" for="editsetname">
        Work Set name
      </label>
      <input class="govuk-input" id="" name="edistsetname" type="text">
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label govuk-label--s" for="sort">
        Owner (person who will be assigned this work set on creation)
      </label>
      <select class="govuk-select" id="sort" name="sort" disabled="true">
        <option value="published">Sarah Brown</option>
      </select>
    </div>

   
    {% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
    {{ govukCharacterCount({
      name: "with-hint",
      id: "with-hint",
      rows: 5,
      maxlength: 250,
      label: {
        text: "Work Set description (optional)",
        classes: "govuk-label--s"
      }
    }) }}
  </fieldset>

  {% from "govuk/components/button/macro.njk" import govukButton %}

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Continue"
    }) }}
  
    <a class="govuk-link" href="search-results-create-work-set">Cancel</a>
  </div>
</form>
</div>
</div>

{% endblock %}
