{% extends "../layout_unbranded.html" %}

{% block pageTitle %}
  Browse Edit Set – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<!--
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
  </div>
  -->
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {{ govukBreadcrumbs({
      collapseOnMobile: true,
      items: [
        {
          text: "Dashboard",
          href: "dashboard"
        },
        {
          text: "View Work Set",
          href: "view-work-set"
         
        }
        ,
        {
          text: "Remove selected records"
        
        }
      ]
    }) }}


  <span class="govuk-caption-xl">COAL 80 Sample</span>
      <h1 class="govuk-heading-l">
        Remove records from Work Set
      </h1>
   <p class="govuk-body">Displaying 1 - 10 of 12 records</p>

   <table class="govuk-table sortable govuk-!-font-size-16">
    <caption class="govuk-table__caption govuk-table__caption--s">National Coal Board and Predecessors: Photographs
  
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header app-custom-class table-col-s" aria-sort="ascending">
          <button> 
            <span aria-hidden="true"></span>
          </button>  CCR</th>
        <th scope="col" class="govuk-table__header app-custom-class table-col-l" aria-sort="ascending">
          <button> 
            <span aria-hidden="true"></span>
          </button> Description</th>
        <th scope="col" class="govuk-table__header app-custom-class table-col-s" aria-sort="ascending">
           Covering dates
           <button> 
            <span aria-hidden="true"></span>
          </button>
          </th>
       

      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
         
           COAL 80/80/1
        
      </td>
        <td class="govuk-table__cell govuk-!-padding-top-4">Bedlington colliery, Newcastle Upon Tyne, Photograph depicting: view of pithead baths.</td>
        <td class="govuk-table__cell govuk-!-padding-top-4">1960</td>
       
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
         
           COAL 67/80/1
        
      </td>
        <td class="govuk-table__cell govuk-!-padding-top-4">Bedlington colliery, Newcastle Upon Tyne, Photograph depicting: view of pithead baths.</td>
        <td class="govuk-table__cell govuk-!-padding-top-4">1960</td>
       
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
         
           COAL 77/80/1
        
      </td>
        <td class="govuk-table__cell govuk-!-padding-top-4">Bedlington colliery, Newcastle Upon Tyne, Photograph depicting: view of pithead baths.</td>
        <td class="govuk-table__cell govuk-!-padding-top-4">1960</td>
       
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
         
           COAL 85/79/1
        
      </td>
        <td class="govuk-table__cell govuk-!-padding-top-4">Bedlington colliery, Newcastle Upon Tyne, Photograph depicting: view of pithead baths.</td>
        <td class="govuk-table__cell govuk-!-padding-top-4">1960</td>
       
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
         
           COAL 67/82/1
        
      </td>
        <td class="govuk-table__cell govuk-!-padding-top-4">Bedlington colliery, Newcastle Upon Tyne, Photograph depicting: view of pithead baths.</td>
        <td class="govuk-table__cell govuk-!-padding-top-4">1960</td>
       
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
         
           COAL 81/80/2
        
      </td>
        <td class="govuk-table__cell govuk-!-padding-top-4">Bedlington colliery, Newcastle Upon Tyne, Photograph depicting: view of pithead baths.</td>
        <td class="govuk-table__cell govuk-!-padding-top-4">1960</td>
       
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
         
           COAL 59/80/4
        
      </td>
        <td class="govuk-table__cell govuk-!-padding-top-4">Bedlington colliery, Newcastle Upon Tyne, Photograph depicting: view of pithead baths.</td>
        <td class="govuk-table__cell govuk-!-padding-top-4">1960</td>
       
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
         
           COAL 28/67/8
        
      </td>
        <td class="govuk-table__cell govuk-!-padding-top-4">Bedlington colliery, Newcastle Upon Tyne, Photograph depicting: view of pithead baths.</td>
        <td class="govuk-table__cell govuk-!-padding-top-4">1960</td>
       
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
         
           COAL 12/20/3
        
      </td>
        <td class="govuk-table__cell govuk-!-padding-top-4">Bedlington colliery, Newcastle Upon Tyne, Photograph depicting: view of pithead baths.</td>
        <td class="govuk-table__cell govuk-!-padding-top-4">1960</td>
       
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
         
           COAL 24/10/4
        
      </td>
        <td class="govuk-table__cell govuk-!-padding-top-4">Bedlington colliery, Newcastle Upon Tyne, Photograph depicting: view of pithead baths.</td>
        <td class="govuk-table__cell govuk-!-padding-top-4">1960</td>
       
      </tr>
    </tbody>
  </table>

  {{ govukPagination({
    next: {
      href: "#"
    },
    items: [
      {
        number: 1,
        current: true,
        href: "#"
      },
      {
        number: 2,
      
        href: "#"
      }
    
    ]
  }) }}

  <form class="form" action="removeWorkSetAction" method="post">

  {% from "govuk/components/radios/macro.njk" import govukRadios %}
{{ govukRadios({
  classes: "govuk-radios--inline",
  name: "removeWorkSet",
  fieldset: {
    legend: {
      text: "Are you sure you want to remove the selected records?",
      classes: "govuk-fieldset__legend--s"
    }
  },

  items: [
    {
      value: "Yes",
      text: "Yes"
    },
    {
      value: "No",
      text: "No"
    }
  ]
}) }}


    
  <div class="govuk-button-group">
    <button class="govuk-button" data-module="govuk-button" name="action" value="save">
      Continue
    </button>

  
  </div>
</form>
</div>
</div>

{% endblock %}
