{% extends "../layout_unbranded.html" %}

{% block pageTitle %}
  Browse Edit Set – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<!--
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
  </div>
  -->
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <a class="govuk-back-link" href="javascript:history.back()">Back</a>

<form class="form" action="/iteration-2-1/view-edit-set" method="post">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        Edit set details
      </h1>
    </legend>
    <div class="govuk-form-group">
      <label class="govuk-label govuk-label--s" for="editsetname">
        Edit Set name
      </label>
      <input class="govuk-input" id="" name="edistsetname" type="text">
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label govuk-label--s" for="sort">
        Owner (person who will be assigned this edit set on creation)
      </label>
      <select class="govuk-select" id="sort" name="sort" disabled="disabled">
        <option value="published">Joe Bloggs</option>
      </select>
    </div>

   
    {% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
    {{ govukCharacterCount({
      name: "with-hint",
      id: "with-hint",
      rows: 2,
      maxlength: 50,
      label: {
        text: "Edit Set description (optional)",
        classes: "govuk-label--s"
      
      }
    }) }}
  </fieldset>
  <div class="govuk-button-group">
    <button class="govuk-button" data-module="govuk-button" name="action" value="save">
      Save Edit Set
    </button>

    <a class="govuk-button govuk-button--secondary" href="dashboard">
      Discard changes
    </a>
  </div>
</form>
</div>
</div>

{% endblock %}
