{% extends "../layout_unbranded.html" %}

{% block pageTitle %}
  Browse Edit Set – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<!--
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
  </div>
  -->
{% endblock %}

{% block content %}

<div class="moj-search">

  <form action="#"  class="na-search__form" method="post">

    <div class="govuk-form-group na-search__group">
      <label class="govuk-label na-search__label" for="search">
       <h1 class="govuk-heading-l">Search the records</h1>
      </label>

      <div id="search-hint" class="govuk-hint na-search__hint">
       Some help text here
      </div>

      <input class="govuk-input na-search__input" id="search" name="search" type="search" aria-describedby="search-hint">

    </div>

    <button class="govuk-button na-search__button" data-module="govuk-button">
      Search
    </button>

  </form>
</div>


{% endblock %}
