{% extends "../layout_unbranded.html" %}

{% block pageTitle %}
  Browse Edit Set – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}




{% block content %}

<a class="govuk-back-link" href="javascript:history.back()">Back</a>


<h1 class="govuk-heading-l">Edit Set: COAL 80 Sample</h1>
<ul class="govuk-list na-subnav__edit govuk-!-margin-bottom-9">
  <li><a class="govuk-link" href="dashboard">Dashboard</a></li>
  <li><a class="govuk-link" href="edit-set-details">Modify Edit Set details</a></li>
  <li><a class="govuk-link" href="search">Add to Edit Set</a></li>
  <li><a class="govuk-link" href="abandon-edit-sets">Abandon Edit Set</a></li>
</ul>

<form class="form" action="/iteration-2-1/remove-records" method="post">
  <table class="govuk-table" data-module="moj-sortable-table">
    <caption class="govuk-table__caption govuk-table__caption--s">National Coal Board and Predecessors: Photographs
    <p class="govuk-body">Displaying 1 - 3 records</p></caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header app-custom-class" aria-sort="ascending">CCR</th>
        <th scope="col" class="govuk-table__header app-custom-class" aria-sort="ascending">Description</th>
        <th scope="col" class="govuk-table__header app-custom-class" aria-sort="ascending">Covering dates</th>
        <th scope="col" class="govuk-table__header app-custom-class" aria-sort="ascending">Action</th>

      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          <div class="govuk-checkboxes__item govuk-checkboxes--small">
          <input class="govuk-checkboxes__input" id="pacid1" name="pacid1" type="checkbox" value="pacid1">
          <label class="govuk-label govuk-checkboxes__label" for="pacid1">
           COAL 80/80/1
          </label>
        </div>
      </td>
        <td class="govuk-table__cell govuk-!-padding-top-4">Bedlington colliery, Newcastle Upon Tyne, Photograph depicting: view of pithead baths.</td>
        <td class="govuk-table__cell govuk-!-padding-top-4">1960</td>
        <td class="govuk-table__cell govuk-!-padding-top-4"><a class="govuk-link" href="edit-record">Edit <span class="govuk-visually-hidden"> CCR1</span></a></td>
       
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          <div class="govuk-checkboxes__item govuk-checkboxes--small">
          <input class="govuk-checkboxes__input" id="pacid1" name="pacid1" type="checkbox" value="pacid1">
          <label class="govuk-label govuk-checkboxes__label" for="pacid1">
          COAL 80/80/2
          </label>
        </div>
      </td>
        <td class="govuk-table__cell govuk-!-padding-top-4">Bedlington colliery, Newcastle Upon Tyne, Photograph depicting: view of pithead baths.</td>
        <td class="govuk-table__cell govuk-!-padding-top-4">1961
        </td>
        <td class="govuk-table__cell govuk-!-padding-top-4"><a class="govuk-link" href="edit-record">Edit <span class="govuk-visually-hidden"> CCR2</span></a></td>
       

      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          <div class="govuk-checkboxes__item govuk-checkboxes--small">
          <input class="govuk-checkboxes__input" id="pacid1" name="pacid1" type="checkbox" value="pacid1">
          <label class="govuk-label govuk-checkboxes__label" for="pacid1">
          COAL 80/80/3
          </label>
        </div>
      </td>
        <td class="govuk-table__cell govuk-!-padding-top-4">Bedlington colliery, Newcastle Upon Tyne, Photograph depicting: view of pithead baths.</td>
        <td class="govuk-table__cell govuk-!-padding-top-4">1962</td>
        <td class="govuk-table__cell govuk-!-padding-top-4"><a class="govuk-link" href="edit-record">Edit <span class="govuk-visually-hidden"> CCR3</span></a></td>
       
     
      </tr>
    </tbody>
  </table>



  {% from "govuk/components/button/macro.njk" import govukButton %}
{{ govukButton({
  text: "Remove selected Records"
}) }}

</form>

{% endblock %}
