{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Confirmation page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/edit-set ">Back to edit set (COAL 80 Sample)</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Changes discarded
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-notification-banner__heading">Any changes have been discarded. Showing last saved version.</p>
        </div>
      </div>
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class=govuk-fieldset__heading">
        TNA reference: COAL 80/80/1
      </h1>
      <h2 class="govuk-fieldset__heading--m">PAC-ID: COAL.2022.V5RJW.P Physical Record</h2>
    </legend>
    <p class="govuk-body">Series: National Coal Board and predecessors: Photographs</p>
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    <a class="govuk-back-link" href="/edit-record">Back to edit record</a>
    </div>
  </div>

{% endblock %}
